Body{
    background-color:rgb(189, 213, 189);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif    
   
}
.container{
    margin: 120px auto;
    max-width: 600px;

}
header{
    margin-bottom: 30px;
}

h1{
    text-align: center;
    font-weight: 800;
    font-size: 36px;    
    line-height: 1.5;
    color:rgb(29, 51, 29); 
}

form{
    padding: 30px;
    background-color:rgb(229, 244, 229);
    box-shadow: 0px 20px 60px rgba(2, 95, 38, 0.08);
    border-radius: 10px;
    display:flex;
    
}
.instructions{
    padding:16px;
    border:1px solid rgb(29, 51, 29);
    width:80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color:rgb(29, 51, 29);
}
.submit-button{
    margin-left: 10px;
    background-color:rgb(189, 213, 189);
    color:rgb(29, 51, 29);
    border:none;
    width:150px;
    border-radius:50px;
    padding:14px 24px;
}
.recipe{
    font-size: 16px;
    margin-top: 25px;
    background-color:rgb(29, 51, 29); 
    color:rgb(189, 213, 189);
    padding: 20px;
    line-height: 2;
    border-left: 3px ;
    box-shadow: 0px 20px 60px rgb(1, 25, 10, 0.08);
    border-radius:10px;
    
}
footer{
    text-align: center;
    font-size:13px;
    margin-top: 30px;
}